---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt"
spec:
  ingressClassName: "nginx"
  tls:
    - hosts:
        - "devops-zimin.shop"
      secretName: letsencrypt
  rules:
    - host: "devops-zimin.shop"
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: frontend
              port:
                number: 8080
        - path: /auth/whoami
          pathType: Prefix
          backend:
            service:
              name: backend
              port:
                number: 8081
        - path: /products
          pathType: Prefix
          backend:
            service:
              name: backend
              port:
                number: 8081
        - path: /categories
          pathType: Prefix
          backend:
            service:
              name: backend
              port:
                number: 8081